body{
    background-color: #fafafa; 
    font-family: sans-serif;
}

.container {
    background-color: #fcfefe; 
    width: 600px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 15px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select{
    display: block;
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

h1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;

}

h2{
    margin: 0 0 5px;
}
.city{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    border-bottom: 1px dashed grey;
}


.date{
    opacity: 0.10;
}
.time{
    font-size: 48px;
    font-weight: bold;
}

.time small{
    font-size: 24px;
    vertical-align: middle;
}